script(type="text/javascript")
    jQuery().ready(function() {
        jQuery('a.out').click(function(){
            window.open(this.href)
        });
    });

div(class="basic", style="float:left;", id="list1a")
    - for (worker in content)
        a #{content[worker][0].source} - #{content[worker][0].queryText}:
        
        div
            div(class="row")
                - for(var i=0; i<content[worker].length; i++)
                    div(class="col")
                        p.center.content
                            a.out(href="#{content[worker][i].url}") #{content[worker][i].title}
                        //div(class="emblem")
                        //    img(src="images/wolf.jpg")
                        ul
                            li.content By #{content[worker][i].author} 
                            - if (content[worker][i].content != undefined)
                                li.content #{content[worker][i].content}
    
